body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: auto;
    margin: 0px;
    font-family: "roboto", sans-serif;
}


.header {
    background-color: #1f2937;
    display: flex;
    flex-basis: auto;
    padding: 8px;
    justify-content: center;
}

.guide {
    display: flex;
    color: #f9faf8;
    font-size: 24px;
    flex-basis: 900px;
    padding: 1px;
    justify-content: center;
    align-items: center;
}


.hero {
    display: flex;
    flex-wrap: wrap;
    background-color: #e5e7eb;
    padding: 16px;
    flex: auto;
    justify-content: center;
    color: black;
}

.heroes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 900px;
}

h1 {
    text-align: center;
}

.subtitle {
    text-align: center;
}

.intro {
    text-align: center;
    display: flex;
}


.newGame {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.newPara {
    display: flex;
    text-align: center;
    flex-basis: 400px;
}

#play {
    font-size: 24px;
    font-weight: bold;
    padding: 15px 32px;
}


.buttons {
    display: flex;
    justify-content: space-around;
    flex: auto;
}

.innerButtons {
    display: flex;
    flex-basis: 900px;
    padding: 16px;
    justify-content: space-around;
}

.title {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}

#rock {
    border-color: #1f2937;
    border-width: 6px;
    border-style: solid;
    border-radius: 8px;
}

#rock:hover {
    border-color: pink;
    border-width: 6px;
    border-style: solid;
    border-radius: 8px;
    color: pink;
}

#paper {
    border-color: #1f2937;
    border-width: 6px;
    border-style: solid;
    border-radius: 8px;
}

#paper:hover {
    border-color: pink;
    border-width: 6px;
    border-style: solid;
    border-radius: 8px;
    color: pink;
}

#scissors {
    border-color: #1f2937;
    border-width: 6px;
    border-style: solid;
    border-radius: 8px;
}

#scissors:hover {
    border-color: pink;
    border-width: 6px;
    border-style: solid;
    border-radius: 8px;
    color: pink;
}


.results {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    flex: auto;
    flex-basis: 400px;
    background-color: #e5e7eb;
}

.outBanner {
    display: flex;
    justify-content: center;
}

.banner {
    flex-basis: 900px;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
    border-color: #1f2937;
    border-width: 6px;
    border-style: solid;
    border-radius: 8px;
    background-color: #f9faf8;
}

.mainArea {
    display: flex;
    justify-content: center;
    padding: 24px;
}

#pic {
    flex-basis: 350px;
    border-color: #1f2937;
    border-width: 6px;
    border-style: solid;
    border-radius: 8px;
}

.area {
    flex-basis: 450px;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.response {
    border-color: #1f2937;
    border-width: 6px;
    border-style: solid;
    border-radius: 8px;
    background-color: #f9faf8;
    padding-top: 24px;
    padding-bottom: 24px;
}

.scoreboard {
    border-color: #1f2937;
    border-width: 6px;
    border-style: solid;
    border-radius: 8px;
    background-color: #f9faf8;
    padding-top: 24px;
    padding-bottom: 24px;
}


.footer {
    background-color: #1f2937;
    display: flex;
    flex-basis: auto;
    padding: 8px;
    justify-content: center;
}

.footContent {
    display: flex;
    color: #f9faf8;
    font-size: 16px;
    flex-basis: 1;
    padding: 1px;
    justify-content: center;
    align-items: center;
}